@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
  font-family: 'Roboto Condensed';
}
.bygpass {
  background-color: #fff;

  .custom-navbar {
    border-radius: 0;

    .navbar-nav {
      .active {
        a {
          background: transparent;
        }
        a:after {
          content: '';
          display: block;
          margin: auto;
          width: 70%;
          height: 2px;
          background-color: red;
        }
      }
    }
  }
  .content-area {
    .heading {
      padding-top: 40px;
      color: red;
      margin-bottom: 0;
      font-size: 50px;
      font-weight: 500;
    }
    .bygpass-head {
      width: 20%;

      p:first-child {
        display: inline-block;
        vertical-align: bottom;
        width: 15%;
        .fa {
          font-size: 30px;
        }
      }
      p:last-child {
        display: inline-block;
        width: 82%;
        padding-left: 10px;
        font-size: 11px;
        span {
          color: red;
        }
      }
    }
    .small-section {
      margin: 40px 0px;
      button {
        border: none;
        background: red;
        color: #fff;
        padding: 10px 30px;
      }
    }
    h3 {
      color: red;
      margin-top: 0;
    }
  }
}
.workout {
  background-color: #222;
  color: #fff;
  .heading {
    padding-top: 80px;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;margin-bottom: 20px;
  }
  .form {
    color: #666;
    background: rgba(255, 255, 255, 0.95);
    margin-bottom: 40px;
    padding: 7px 0px 7px 7px;
    select, input, button {
      border-radius: 0;
      float: left;
      border: none;
      background: transparent;
    }
    select:focus, input:focus, button:focus {
      outline: none;
    }
    .location {
      width: 25%;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      padding: 10px 10px;
      background: transparent url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png) no-repeat;
      background-size: 20px;
      background-position: right 10px center;
      border-right: 1px solid #aaa;
    }
    input {
      width: 60%;
      padding: 10px 20px;
      float: left;
    }
    button {
      float: left;
      font-size: 17px;
      width: 15%;
      background: red;
      text-align: center;
      color: #fff;
      padding: 15px;
      margin: -7px 0px;
    }
  }
}
.schedule {
  padding: 50px 0px;
  h1 {
    margin-bottom: 0;
    font-size: 40px;
  }
  .sub-head {
    font-size: 20px;
    color: red;
  }
  .diet-para {
    padding-left: 20%;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 13px;
  }
  button {
    background: red;
    color: #fff;
    border: none;
    padding: 10px;
  }
}
.feature-fitness {
  @extend .workout;
  padding: 50px;
  h3 {
    padding-top: 20px;
  }
  .card-layout {
    .card {
      width: 25%;
      float: left;
      border: 1px solid transparent;
      .img-holder {
        display: flex;
        height: 180px;
      }
      .content {
        background: #fff;
        color: #222;
        padding: 10px;
        p {
          margin: 0px;
        }
        .mainhead {
          font-size: 16px;
          font-weight: 600;
        }
        p:last-child {
          font-size: 13px;
          color: #aaa;
          padding-bottom: 10px;
          border-bottom: 1px solid #ddd;
        }
        .category {
          padding-top: 10px;
          span {
            display: inline-block;
          }
          .star {
            color: red;
          }
          .rating {
            padding-left: 5px;
          }
          .cat-name {
            float: right;
            border: 1px solid #eee;
            padding: 2px 10px;
            color: #777;
          }
        }
      }
    }
  }
}
.never-miss {
  padding: 40px;
  .motivation-cards {
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
  }
  .offer {
    .text-content {
      background: #222;
      padding: 50px 20px 30px;
      p:first-child {
        color: red;
        font-size: 30px;
        font-weight: 600;
        margin: 0;
        span {
          font-size: 50px;
        }
      }
      p:nth-child(2) {
        color: #fff;
        font-weight: bolder;
        font-size: 40px;
        margin: 0px;
      }
      button {
        border: none;
        background: #fff;
        font-weight: 600;
        font-size: 17px;
        padding: 5px;
        span {
          color: red;
        }
      }
    }
  }
  .price {
    .text-content {
      background: linear-gradient(rgb(100, 161, 95), #006CA6);
      color: #fff;
      padding: 145px 10px 10px;
      opacity: 0.8;
      p {
        margin: 0;
      }
      p:first-child {
        font-size: 20px;
      }
      p:nth-child(2) {
        font-size: 30px;
      }
      p:last-child {
        font-size: 12px;
      }
    }
  }
  .invite {
    color: #fff;
    .text-content {
      background: linear-gradient(red, black);
      padding: 144px 10px 10px;
      p {
        margin: 0;
      }
      p:first-child {
        font-size: 20px;
      }
    }
  }
  .download-subscribe {
    padding: 30px;
    .subscribe {
      border-right: 1px solid #ddd;
      .subs-form {
        padding-top: 40px;
        input {
          width: 60%;
          padding: 10px;
        }
        button {
          width: 25%;
          padding: 11px;
          background: red;
          border: none;
          color: #fff;
          font-size: 16px;
        }
      }
    }
    .download {
      img.img-responsive {
        margin: 0 auto;
      }
    }
  }
}
